{% extends 'base.html' %}

{% block content %}
  <h2>User Profile</h2>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name }}</p>
  <p>Created: {{ user.date_joined }}</p>
  
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  {% if user_profile.profile_image %}
    <img src="{{ user_profile.profile_image.url }}" height="20%" width="20%" alt="Profile Image">
  {% endif %}
{% endblock %}